@model VisionDB.Models.Product

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<fieldset>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.ProductTypeEnum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductTypeEnum)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.VATRate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VATRate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Colour)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Colour)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ReferenceNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReferenceNumber)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CostPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CostPrice)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.FrequentlyUsed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FrequentlyUsed)
    </div>
    <br />
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
