@model VisionDB.Models.Attachment

@{
    ViewBag.Title = Model.FileNameWithoutId;
}

<h2>Attachment for: @Model.customer.ToString()</h2>
<h2>@Model.FileNameWithoutId</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.CreatedTimestamp)
    <br />
    <a href="\Attachments\@Model.FileName">Open @Model.FileNameWithoutId</a>
    <br />
    <br />
    <fieldset>
        File comments
        <br />
        @Html.TextAreaFor(model => model.FileComments, 7, 1, new { @class = "k-textbox large" })
        @Html.ValidationMessageFor(model => model.FileComments)
    </fieldset>
    <br />
    <p>
        <input class="k-button" type="submit" value="Save" />
        <button class="delete-button k-button" value="Delete">Delete</button>
        <button id="cancel" class="lose-changes-button k-button" type="button" value="Cancel">Cancel</button>
    </p>
    <script id="delete-confirmation" type="text/x-kendo-template">
        <p class="delete-message">Are you sure?</p>

        <button class="delete-confirm k-button">Delete</button> &nbsp;
        <a href="#" class="delete-cancel k-button">Cancel</a>
    </script>

    <script id="lose-changes-confirmation" type="text/x-kendo-template">
        <p class="lose-changes-message">There are unsaved changes?</p>

        <button class="lose-changes-confirm k-button">Lose changes</button> &nbsp;
        <a href="#" class="lose-changes-cancel k-button">Cancel</a>
    </script>
}

<script>
    $(".delete-button").click(function (e) {
        e.preventDefault();

        var kendoWindow = $("<div />").kendoWindow({
            title: "Confirm",
            resizable: false,
            modal: true
        });

        kendoWindow.data("kendoWindow")
            .content($("#delete-confirmation").html())
            .center().open();

        kendoWindow
            .find(".delete-confirm,.delete-cancel")
                .click(function () {
                    if ($(this).hasClass("delete-confirm")) {
                        window.location.replace('/Attachments/Delete/@Model.Id.ToString()');
                    }

                    kendoWindow.data("kendoWindow").close();
                })
                .end()
    });

    $("form :input").change(function () {
        $(this).closest('form').data('changed', true);
    });
    $('#cancel').click(function () {
        if ($(this).closest('form').data('changed')) {
            var kendoWindow = $("<div />").kendoWindow({
                title: "Confirm",
                resizable: false,
                modal: true
            });

            kendoWindow.data("kendoWindow")
                .content($("#lose-changes-confirmation").html())
                .center().open();

            kendoWindow
                .find(".lose-changes-confirm,.lose-changes-cancel")
                    .click(function () {
                        if ($(this).hasClass("lose-changes-confirm")) {
                            window.location.replace('/Customers/Customer/@ViewBag.Customer.Id.ToString()');
                        }

                        kendoWindow.data("kendoWindow").close();
                    })
                    .end()
        }
        else {
            window.location.replace('/Customers/Customer/@ViewBag.Customer.Id.ToString()');
        }
    });
</script>