@{
    ViewBag.Title = "Admin";
}
<h2>Admin</h2>
FOR CLICK SOFTWARE USE ONLY
<br />
<br />
@Html.ActionLink("Register new user", "Register", "Account")
<br />
<br />
@Html.ActionLink("Add / edit companies", "Index", "Companies")
<br />
<br />
@Html.ActionLink("Edit settings", "Edit", "Settings")
<br />
<br />
@Html.ActionLink("Backup database", "BackupDatabase", "Admin")
<br />
<br />
@Html.ActionLink("Summary Report", "SummaryReport", "Admin")
<br />
<br />
@Html.ActionLink("Audit Log", "AuditLog", "Admin")
<br />
<br />
@Html.ActionLink("Company and Practice List", "CompaniesAndPractices", "Admin")
<br />
<br />
@Html.ActionLink("Populate last eye exam for all invoices", "PopulateLastEyeExamsForInvoices", "Admin")
<br />
<br />
@Html.ActionLink("Update totals for all invoices", "UpdateInvoiceTotals", "Admin")
<br />
<br />
@Html.ActionLink("Test postcode lookup", "TestPostcodeLookup", "Admin")